body{
    background-color: rgb(75, 71, 71);
}
.auth-cont, .reg-cont{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    padding-top: 30px;
    padding-bottom: 50px;
}
.auth-cont button, .reg-cont button{
    margin-top: 10px !important; 
}
.auth-cont input, .reg-cont input{
    width: 400px;
    margin: 0 auto;
    height: 30px;
    margin-top: 5px;
}
.auth-password-input, .reg-password-input{
    margin-bottom: 10px !important;
}

    
.auth-cont h2, .reg-cont h2{
    margin: 0 auto;
}
.auth-cont .btn-enter-auth, .reg-cont .btn-reg-reg{
    width: 300px;
    height: 50px;
    margin: 0 auto;
}
.auth-cont .btn-reg-auth, .reg-cont .btn-enter-reg{
    width: 200px;
    margin: 0 auto;
}

.reg-cont{
    visibility: hidden;
}